# Default blacklist.
.DS_Store

# Repo root = whitelist.
/*
!/*.default.properties
!/.*ignore
!/.*rc
!/.git*
!/go.mod
!/go.sum
!/readme.md
!/license.md
!/makefile
!/static
!/misc
!/docs
/mock*.sh

!/*.go
/*mock.go
/*mock_test.go
/mock*.go
